.book-card {
    display: inline-block !important;
    margin: 10px !important;
    text-align: center !important;
    width: 100px !important;
    height: 150px !important;
}

.book-card img {
    width: 75px !important;
    height: 100px !important;
}